html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  width: 100vw;
  height: 100vh;
  background-color: #808080;
  background-size: cover;               /* 全画面 */
  background-attachment: fixed;         /* 固定 */
  background-position: center center;   /* 縦横中央 */
  
}

.h1{
  color:white;
  font-size: 32px;
  margin: 10px 10px;
  width: 100vw;
  border-bottom: solid 2px white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt{
  width: 11em;
  max-width: 100%;
  margin-right: 10px;
}

.submit2{
  font-size: 10px;
}

.question_form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer_form{
  color: white;
  font-size: 12px;
}

.myname{
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer_name{
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer_result1-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer_result1-2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer_result2-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer_result2-2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer_result3-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer_result3-2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2{
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question{
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.question_submit{
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}