body {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #white;
    color: #fff;
  }
  
  .navbar-laravel {
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
  
  .navbar-brand {
    color: #fff !important;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  .table-dark {
    color: #fff;
  }
  
  .list-group-item {
    border-color: #fff;
    background-color: #000;
  }
  
  .login-box {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .login-header {
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  .login-body {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .row{
    display: flex;
    flex-direction: column;
    margin-right: -15px;
    margin-left: -15px;
  }

  .table-sns{
    display: flex;
    flex-direction: row;
    table-layout: fixed;
    width: 600px;
    word-break:break-word;
    margin-top: 50px;
  }

  .sns-td{
    word-break:break-word;
    border: 1px black solid;
  }

  .sns-name{
    color: black;
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    word-break:break-word;
    padding: 10px 0;
  }

  .sns-body{
    color: black;
    width: 300px;
    height: 150px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    word-break:break-word; 
    line-height: 20px;
  }

  .sns-time{
    color: black;
    width:300px;
　  word-break:break-word;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.sns-deletetable{
  color: black;
  width: 300px;
  word-break:break-word;
  padding-left: 80px;
}

.sns-delete{
  color: red;
  margin-top: 20px;
}



  
  